body {
  background-color: GhostWhite;
  padding: 0% 10% 0% 10%;
  margin: 0%;
}

@font-face {
    font-family: 'menastandard';
    src: url('menastandard-regular-webfont.woff');
  }

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat Alternates', sans-serif;
}

#logo {
  margin: 20px auto 20px auto;
  display: flex;
}

.logo {
  margin: 2% auto 2% auto;
}

nav {
  display: flex;
  margin: auto;
  font-family: 'Monoton', cursive;
}

li {
  font-size: 35px;
  margin: 0 15px 0 15px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
  margin: 10px auto 10px auto;
}

a {
    text-decoration: none;
}

.line {
  height: 2px;
  width: 80%;
  margin: auto;
}

button {
  border: 0px;
  padding: 0px;
  margin-bottom: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: GhostWhite;
}

button:hover {
  cursor: pointer;
}

button:active {
  text-decoration: underline;
}

section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  flex: 1;
}

.gallery:first-child {
  margin-top: 20px;
}

.pic {

}

.bg-color01 {
  background-color: #ff6d6d;
}

.text-color01 {
  color: #ff6d6d;
}


.portfolio {
  min-height: 20vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  font-size: 20px;
}

.portfolio:not(:first-child) {
  margin-left: 5vh;
}

.portfolio-pic {
    max-width: 70%;
    max-height: auto;
}
