body {
  /*background-color: #fdf2e7;*/
  padding: 0% 10% 0% 10%;
  margin: 0%;
}

@font-face {
    font-family: 'menastandard';
    src: url('menastandard-regular-webfont.woff');
  }

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*font-family: 'Montserrat', sans-serif;*/
}

#logo {
  margin: 20px auto 20px auto;
  display: flex;
  height: 250px;
  width: auto;
}

.logo {
  margin: 2% auto 2% auto;
}

nav {
  display: flex;
  margin: auto;
  /*font-family: 'Permanent Marker', cursive;*/
}

li {
  font-size: 35px;
  margin: 0 15px 0 15px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
  margin: 10px auto 10px auto;
}

a {
    text-decoration: none;
}

.line {
  height: 2px;
  width: 80%;
  margin: auto;
}

button {
  background-color: /*#fdf2e7*/ white;
    border: 0px;
}


.button {

  padding: 0px;
  margin-bottom: 15px;
  /*font-family: 'Montserrat', sans-serif;*/

}

button:hover {
  cursor: pointer;
}

.button:active {
  text-decoration: underline;
}

section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  flex: 1;
}

.gallery:first-child {
  margin-top: 20px;
}

.bg-color01 {
  background-color: red;
}

.text-color01 {
  color: black;
}


.portfolio {
  min-height: 20vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.portfolio:not(:first-child) {
  margin-left: 5vh;
}

.portfolio-pic {
    max-width: 70%;
    max-height: auto;
}

.about-pic {
  display: flex;
  flex: 1;
  flex-direction: column;
}

article {
  display: flex;
  flex: 3;
  flex-direction: column;
}

footer {
  display: flex;
  flex: 1;
  text-align: center;
}

#footer {
  margin: auto;
  margin-top: 50px;
  color: #ff6d6d;
  /*font-family: 'Montserrat', sans-serif;*/
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
} 
